.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  margin-bottom: 16px;
}

.buttons hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.buttons a {
  padding-top:15px;
  padding-bottom:15px;
}
